<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AngularTodContext"
         connectionString="Server=04bff00c-b21e-45a7-a2f3-a3e80038647f.sqlserver.sequelizer.com;Database=db04bff00cb21e45a7a2f3a3e80038647f;User ID=tjfucueoeoacmvpe;Password=5LntwGbsyV5SjY6Zzu7Hd3QhvNq6aoXH2ALwEgJot2ws2yxsKiLhZchb4e7Rqesj;" />
  </connectionStrings>
</configuration>
